// Policy style
.page-title{
    box-sizing: border-box;
    .title-head {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 9px;
        color: #252525;
        text-decoration: none;
    }
}
.content-page p{
    font-size: 16px !important;
}