/*----- 13. Testimonial style  ------*/

.single-testimonial {
  img {
    border-radius: 50%;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    line-height: 32px;

    margin: 32px 0 0;

    color: #575757;
    @media #{$xs-layout} {
      font-size: 15px;
    }
  }
  .client-info {
    margin: 20px 0 0;
    i {
      font-size: 26px;

      color: #666666;
    }
    h5 {
      font-size: 14px;

      margin: 22px 0 3px;

      letter-spacing: 1.5px;
      text-transform: uppercase;

      color: #010101;
    }
    span {
      font-size: 14px;

      letter-spacing: 1.5px;

      color: #010101;
    }
  }

  &--style2 {
    p {
      font-family: $josefin;
      font-size: 24px;

      color: #ffffff;
    }
    .client-info {
      h5 {
        color: #ffffff;
      }
      span {
        color: #ffffff;
      }
    }
  }
}

.testimonial-active {
  .swiper-button-next {
    right: 0 !important;
  }
  .swiper-button-prev {
    left: 0 !important;
  }

  &:hover {
    .ht-swiper-button-nav {
      visibility: visible;

      opacity: 1;
    }
  }
}
.funfact-btn {
  margin-top: 43px;
  @media #{$xs-layout} {
      margin-top: 23px;
  }
  a {
      line-height: 1;
      z-index: 1;
      display: inline-block;
      padding: 16px 56px;
      color: #fff;
      border: 1px solid transparent;
      background-color: #000;
      &:hover {
          border: 1px solid $theme-color;
      }
  }
  &.btn-only-round {
      a {
          overflow: hidden;

          border-radius: 50px;
          &:hover {
              border: 1px solid $theme-color;
          }
      }
  }
  &.funfact-btn-red {
      a {
          background-color: #c61a32;
          &:hover {
              border: 1px solid $theme-color;
          }
      }
  }
  &.funfact-btn-red-2 {
      a {
          background-color: #c61a32;
          &:hover {
              border: 1px solid $theme-color;
          }
      }
  }
  &.funfact-btn-violet {
      a {
          background-color: #ab87cd;
          &:hover {
              border: 1px solid $theme-color;
          }
      }
  }
  &.funfact-btn-green {
      a {
          background-color: #6eab49;
          &:hover {
              border: 1px solid $theme-color;
          }
      }
  }
  &.funfact-btn-brown {
      a {
          font-weight: 500;
          color: #000;
          border: 2px solid #000;
          background-color: transparent;
          &:after {
              background-color: #bca487;
          }
      }
  }
  &--round-shape {
      a {
          overflow: hidden;

          border-radius: 30px;
      }
  }
}
.testimonial-area {
    background-image: url(https://res.cloudinary.com/do9rcgv5s/image/upload/v1695114432/hwjdab2uqsgax1ti2il2.png);
    background-position: 420px -210px;
    background-repeat: no-repeat;
    .special-polyfood-title{
      color: #f6a700;
      font-family: $shelia1;
      font-size: 39px;
      font-weight: 500;
    }
    p{
      float: right;
      width: 645px;
      padding: 40px 0 20px;
      color: #ffffff;
      line-height: 24px;
      font-size: 15px;
    }
    .item-vegetable{
      background-image: url(https://res.cloudinary.com/do9rcgv5s/image/upload/v1695121790/xuwo5rfyhgo5dnp6egk7.png);
      background-repeat: no-repeat;
      background-position: 180px 0;
      height: 313px;
    }
  &:hover .nav-style-1.owl-carousel > .owl-nav div {
    visibility: visible;
    opacity: 1;
  }
  &.ml-70 {
    @media #{$xl-layout} {
      margin-left: 15px;
    }
    @media #{$lg-layout} {
      margin-left: 30px;
    }
    @media #{$md-layout} {
      margin-left: 40px;
    }
    @media #{$xs-layout} {
      margin-left: 15px;
    }
    @media #{$sm-layout} {
      margin-left: 30px;
    }
  }
  &.mr-70 {
    @media #{$xl-layout} {
      margin-right: 15px;
    }
    @media #{$lg-layout} {
      margin-right: 30px;
    }
    @media #{$md-layout} {
      margin-right: 40px;
    }
    @media #{$xs-layout} {
      margin-right: 15px;
    }
    @media #{$sm-layout} {
      margin-right: 30px;
    }
  }
  @media #{$lg-layout} {
    &.mt-195 {
      margin-top: 125px;
    }
  }
  @media #{$md-layout} {
    &.mt-195 {
      margin-top: 0;
      padding-top: 35px;
    }
  }
  @media #{$xs-layout} {
    &.mt-195 {
      margin-top: 0;
      padding-top: 40px;
    }
  }
}

.testimonial-img-2 {
  overflow: hidden;

  margin-top: -197px;
  @media #{$lg-layout} {
    margin-top: -130px;
  }
  @media #{$md-layout} {
    margin-top: 0;
  }
  @media #{$xs-layout} {
    margin-top: 30px;
  }
  img {
    width: 100%;
  }
}

.single-testimonial-2 {
  img {
    border-radius: 50%;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    line-height: 32px;

    margin: 0;
    margin-top: 30px;

    color: #fff;
  }
  .client-info {
    margin: 18px 0 0;
    i {
      font-size: 26px;

      color: #fff;
    }
    h5 {
      font-size: 14px;
      line-height: 1;

      margin: 20px 0 6px;

      letter-spacing: 1.5px;
      text-transform: uppercase;

      color: #fff;
    }
    span {
      font-size: 14px;
      line-height: 1;

      margin: 0;

      letter-spacing: 1.5px;
      text-transform: capitalize;

      color: #fff;
    }
  }
  &.testi-paragraph-mrg {
    p {
      margin: 32px 0 0;
    }
  }
}

.testimonial-active-2 {
  .owl-dots {
    margin: 15px 0 0;

    text-align: center;
    .owl-dot {
      display: inline-block;

      margin: 0 5px;
      span {
        display: inline-block;

        width: 8px;
        height: 8px;

        border: 2px solid transparent;
        border-radius: 100%;
        background-color: #fff;
      }
      &.active {
        span {
          border: 2px solid #fff;
          background-color: transparent;
        }
      }
    }
  }
}
